.appointmentBg{
    padding: 150px 110px;
    background-color: 'rgba(128, 128, 160, 0.11)';
    background-blend-mode: 'darken, luminosity';
}
.banner{
    width: 100%;
    height: 400px;
    background-image: url('../../../../images/banner.jpg');
    background-repeat: no-repeat;
}